.cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: grid;
    background-color: #121212;
    opacity: 0.6;
    align-items: center;
    justify-content: center;
}

.loader {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    display: inline-grid;
    color: #f0f0f0;
}

.loader:before,
.loader:after {
    content:"Loading...";
    grid-area: 1/1;
    -webkit-mask: -webkit-linear-gradient(90deg,#f0f0f0 50%,#f0f0f0 0) 0 50%/2ch 100%;
    animation: l11 1s infinite cubic-bezier(0.5,220,0.5,-220);
}
.loader:after {
    -webkit-mask-position:1ch 50%;
    --s:-1;
}
@keyframes l11 {100%{transform: translateY(calc(var(--s,1)*0.1%));}}