.reel {
    height: 97vh;
    border: 3px solid #a2c1fd;
    width: 34vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
    transition: .5s;
}

.reel:hover {
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #a2c1fd;
    margin: 0;
    padding: 1rem;
    text-align: center;
}
