@page "/approve-reject"

<RoleView RoleToDisplay="[Role.Admin]">
    <ChildContent>
        <Feed></Feed>
    </ChildContent>
    <WrongRoleContent>
        <h1>You are not authorised to view this page</h1>
    </WrongRoleContent>
</RoleView>