@page "/register"
<PageTitle>Register</PageTitle>

@attribute [Authorize]

<form class="register-form" @onsubmit="RegisterUser">
    <h1>Finish Signing Up...</h1>
    <label>
        Email: <input type="email" @bind="_userToRegister.Email"/>
    </label>
    
    <label>
        Name: <input type="text" @bind="_userToRegister.Name"/>
    </label>

    <div class="role">
        <p>Role:</p>
        <select @onchange="RefreshRole">
            @foreach (string role in Enum.GetNames(typeof(Role)))
            {
                <option>@role</option>
            }
        </select>
    </div>
    
    <button type="submit">Submit</button>
</form>