html {
    background-color: #121212;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #f0f0f0;
}

body {
    margin: 0;
}

main {
    display: flex;
}

article {
    padding: 0 1rem;
    width: 80%;
    max-height: 99vh;
    overflow-y: scroll;
    margin: auto;
}

article::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

article::-webkit-scrollbar-track {
    background-color: rgb(200 200 200);
    border-radius: 0.5rem;
}

article::-webkit-scrollbar-thumb {
    background-color: #a2c1fd;
    border-radius: 0.5rem;
    opacity: 80%;
}

article::-webkit-scrollbar-thumb:hover {
    opacity: 100%;
}