<div class="nav">
    <h1>I</h1>
    <h1>B</h1>
    
    <div class="icons">
        <i @onclick="@(() => _navigationManager.NavigateTo("feed"))" class="bi bi-house"></i>
        <i class="bi bi-search"></i>
        <i class="bi bi-check-all"></i>
        <i class="bi bi-plus-circle"></i>
        <i class="bi bi-person"></i>
    </div>
    
    <i class="logout bi bi-box-arrow-left"></i>
</div>